.categoriesPage {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.categoriesPage h2 {
  font-size: 4rem;
}

.ulCategories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  gap: 2rem;
  z-index: 1;
}

.liCategories {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  position: relative;
}

.ProductTop img {
  width: 100%;
  height: 284px;
  object-fit: cover;
}