.cartIcon {
  position: relative;
  display: inline-block;
}

.basketIcon {
  width: 48px;
  height: 48px;
  top: 20px;
  left: 20px;
  padding: 0px 0px 0px 4px;
  gap: 0px;
  opacity: 0px;

}

.badge {
  position: absolute;
  top: -5px;
  left: -10px;
  background-color: #0D50FF;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  min-width: 26px;
  text-align: center;
}