.footer {
  box-sizing: border-box;
}

.footer h2 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
  margin-bottom: 40px;

}

.footer h3 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;

}

.footer p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;

}

.boxFooter {
  width: 100%;
  overflow: hidden;
}

.gridFooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.grid {
  display: flex;
  justify-content: start;
  align-items: stretch;
  border: none;
  background-color: #F1F3F4;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 32px;
}

.map {
  width: 100%;
  border-radius: var(--radiusbig);
}